
/* ----FORM---- */

/* ----CONTENT---- */
.content-all {
    background:#f3f3f3;
}
.fixed-top {
    background:rgba(0,0,0,.5);
}
.form-login{
    margin-top: 6rem;
}

/* ----NAVBAR---- */
.navbar-dark .navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
}
.fa, .fas {
    font-size: 26px;
    font-weight: normal;
}
a .fa{
    color:#fff;
}
@media only screen and (max-width: 576px) {
    .navbar-brand{
        font-size: 1.2rem;
    }
}

/* ----FOOTER---- */

footer {
    margin-top: 6.3rem;
}
footer a{
    color:#fff;
}

/* ----CARD---- */
.card-title {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.options{
    margin-top: 7rem;
}
.options .option:hover .card{
    transform: scale(1.1);
}
.opt{
    transform: scale(1.1);
}
/*@media only screen and (max-width: 768px) {
    .card-title{
        font-size: 1.2rem;
    }
}*/

/* ----ICONS---- */

.icons{
    height:1.5rem;
   /* margin-top: 2.1rem;*/
   /* margin-left: 0;*/
}


/* ---- CARD FONT ----*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
}
.nav-tabs .nav-link {
    color:#fff;
}